<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCAT - Chatrooms</title>
	<link rel="stylesheet" href="../css/chatroom.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(function(){
		var host = '{{config.host}}';
		//namespace
		var socket = io.connect(host + '/roomlist'); // http://localhost:3000/roomlist

		socket.on('connect', function(){
			console.log('Connection Established !');
		})

		//data is the stringifyed version of the rooms array
		socket.on('roomupdate', function(data){
			//converts JSON back into array
			var procData = JSON.parse(data);
			//empty roomlist after finished
			$('.roomlist').html('');
			for(var i = 0; i < procData.length; i++){
				var str = '<a href="room/' + procData[i].room_number + '"><li>' + procData[i].room_name + '</li></a>';
				$('.roomlist').prepend(str);
			}
		})

		//Whenever you click on a button with id "create" ... run the callback function
		$(document).on('click', '#create', function(){
			//Finds value of the input field
			var room_name = $('.newRoom').val();
			//Check if room_name exists
			if(room_name!=''){
				var room_number = parseInt(Math.random() * 10000);
				//"Emits" (creates) a new event with the message of this object
				//Key of the object is newroom, and value is {...}
				socket.emit('newroom', {room_name:room_name, room_number:room_number});
				//clear out input field
				$('.newRoom').val('');
			}
		})
	})
	</script>
</head>
<body>
	<div class="cr-container">
		<h1 class="cr-title">ChatCAT</h1>
		<div class="cr-userbox">
			<img src="{{user.profilePic}}" class="userPic">
			<h3 class="userName">{{user.fullName}} | <a href="/logout">Logout</a></h3>
		</div>
		<div class="cr-newroom">
			<input type="text" class="newRoom" autocomplete="off">
			<button id="create">Create Room</button>
		</div>
		<div class="cr-roomlist">
			<ul class="roomlist">
				<!-- <a href="#"><li>NodeJS</li></a>
				<a href="#"><li>Cloud Computing</li></a>
				<a href="#"><li>MongoDB</li></a> -->
			</ul>
		</div>
	</div>
</body>
</html>
