/*@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);*/

/* latin-ext */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v4/7pSgz2MbVvTCvvm7vukSH4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v4/8XtYtNKEyyZh481XVWfVOpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQ7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRdwxCXfZpKo5kWAx_74bHs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZ6vnaPZw6nYDxM4SVEMFKg.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTfy1_HTwRwgtl1cPga3Fy3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTfgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

a {
    color: #000;
    text-decoration:none;
    background: rgb(161, 225, 239);
    margin-left: 6px;
    padding: 4px;
}

.rm-container {
    position:absolute;
    width: 960px;
    height: 790px;
    border:1px solid;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    background: rgba(236, 236, 236, 1);
    box-shadow:0px 0px 20px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
}


.rm-title {
    font-family: 'Audiowide', cursive;
    border-bottom:1px solid;
}

.rm-userbox {
    border:1px solid rgba(0,0,0,0.5);
    position:relative;
    height:50px;
    margin-bottom:5px;

}

.rm-roomname {
    border:1px solid;
    height:20px;
    margin-bottom:5px;
    background:#000;
}

.rm-roomname h5 {
    color:#FFF;
    margin:0px;
    position:relative;
    top:1px;
    left:5px;
    font-family: 'Open Sans', sans-serif;
}

.userPic {
    position:absolute;
}

.userName {
    position:absolute;
    top: 17px;
    padding:0px;
    margin:0px;
    left:60px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

}

.rm-newmessage {
    border:1px solid rgba(0,0,0,0.5);
    height: 75px;
    margin-bottom:5px;

    clear: both;
}

.rm-messages {
    border:1px solid;
    position: relative;
    height: 534px;
    width: 692px;
    overflow-x:hidden;
    overflow-y:auto;
    background: rgb(255, 255, 255);
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}


.rm-users {
    position:relative;
    border: 1px solid;
    width: 243px;
    padding: 5px;
    float:left;
    height: 523px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(250, 250, 250);
}

.users {
    list-style:none;
    font-family:'Open Sans', sans-serif;
    margin:0px;
    padding:0px;
}

.users li {
border-bottom:1px dashed;
position:relative;
}

.users li h5 {
    position:absolute;
    top: 11px;
    left: 43px;
    font-family:'Open Sans', sans-serif;
    font-weight:normal;
    margin:0px;
    padding:0px;
}

.users li img {
    width:30px;
}


.newmessage {
    position:absolute;
    padding: 25px;
    margin:0px;
    width: 908px;
    font-size:20px;
    border:0px
}

.messages {
    list-style:none;
    padding:10px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}

.msgbox {
    position:relative;
    /* border: 1px solid rgb(247, 247, 247); */
    /* width:500px; */
    height: 91px;
    padding:5px;
    margin-bottom: 10px;
}

.msgbox .pic {
    position:absolute;
    width:50px;
    height: 50px;
    /* border:1px solid; */
    background: rgb(229, 229, 229);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.msgbox .msg {
    position:absolute;
    min-height: 98px;
    /* height: 220px; */
    width: 200px;
    padding: 2px;
    background: rgb(232, 232, 232);
    width: 604px;
    left: 55px;
    top: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow:;
}

.msgbox .msg p {
    position:absolute;
    top: 0px;
    bottom: 0px;
    /* display: block; */
    width: 594px;
    margin: auto;
    /* height: auto; */
    font-size: 17px;
    line-height: 21px;
    word-wrap: break-word;
    padding: 6px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    /* text-overflow: ellipsis; */
}
